<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla::header"></header>
        <a th:href="@{/agregar}">Crear persona</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Editar</th>
                <th>Eliminar</th>
                </thead>

                <tbody>
                    <tr th:each="persona : ${personas}">
                        <td th:text="${persona.nombre}">Mostrar nombre</td>
                        <td th:text="${persona.apellido}">Mostrar apellido</td>
                        <td th:text="${persona.email}">Mostrar email</td>
                        <td th:text="${persona.telefono}">Mostrar Teléfono</td>
                        <td><a th:href="@{/editar/}+${persona.idPersona}" th:text="Editar"></a></td>
                        <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">La lista está vacia</div>

        <footer th:replace="layout/plantilla::footer"></footer>

    </body>
</html>