<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Modificar persona</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1>Control de clientes</h1>
        </header>
        <h2>Datos de la persona</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${persona}">

            <input type="hidden" name="idPersona" th:field="*{idPersona}">

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
                <br/>

                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" th:field="*{apellido}"/>
                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error apellido</span>

                <br/>

                <label for="email">Email:</label>
                <input type="text" name="email" th:field="*{email}"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</span>
                <br/>

                <label for="telefono">Telefono:</label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>

                <br/>
                <input type="submit" name="guardar" value="guardar"/>
        </form>

        <footer th:fragment="footer">
            <p>Derechos reservador <a href="http://jacorecord.com" target="_blank">Jacorecord</a></p>
        </footer>
    </body>
</html>
